.buy-now-button {
    @extend %button;
    @extend %button--color;
    min-width: 152px;
    min-height: 42px;
    
    margin: 0;
    margin-top: 20px;
    
    @media screen and (max-width:767.8px) {
            display: none;
        }
}